section.about.title 
    .container 
        .about__inner
            .about__box
                .about__info
                    h2 
                        span Подробнее о нас
                        | О гостинице 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    a(href="#") 
                        | Забронировать номер
                        +icon('arrow-btn', 'arrow-def')
                img(src="img/about-img.jpg", alt="")
                
            ul.rest__list 
                li 
                    a(href="#") 
                        img(src="img/about-1.jpg", alt="")
                        h4 О нас
                li 
                    a(href="#") 
                        img(src="img/about-2.jpg", alt="")
                        h4 Новости
                li 
                    a(href="#") 
                        img(src="img/about-3.jpg", alt="")
                        h4 Сертификаты