section.business.title
    .container 
        .business__inner
            .business__box
                img(src="img/business-img.jpg", alt="")
                .business__info(data-aos="fade-left") 
                    h2 
                        span Порадуйте себя и своих близких!
                        | Для бизнеса
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    a(href="#") 
                        | Забронировать номер
                        +icon('arrow-btn', 'arrow-def')
            ul.rest__list 
                li(data-aos="flip-left") 
                    a(href="#") 
                        img(src="img/business-1.jpg", alt="")
                        h4 Прачечная
                li(data-aos="flip-left") 
                    a(href="#") 
                        img(src="img/business-2.jpg", alt="")
                        h4 Аренда
                li(data-aos="flip-left") 
                    a(href="#") 
                        img(src="img/business-3.jpg", alt="")
                        h4 Реклама