.container
      include ../includes/breadcrumbs.pug       
      .company.title
          h1 О компании
          section
             div
               <p>
                 <picture>
                    <source srcset="img/company.jpg" type="image/jpeg" media="(max-width:877px)" /> 
                    <img src="img/company.jpg" alt="alt" /> 
                 </picture>
               </p>
               <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.</p>
               <ul>
                 <li>
                   <h5>At vero eos et accusamus et iusto odio</h3>
                 </li>
                 <li>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                 <li>Рerspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                 <li>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
               </ul>
               <ol>
                 <li>
                   <h5>Et accusamus et iusto odio</h5>
                 </li>
                 <li>1 Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                 <li>2. Рerspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                 <li>3. Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quaeillo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</li>
                 <li>
                   <blockquote>
                      img(src="img/quote.png", alt="alt")
                      |Omnis iste natus error sit voluptatem accusantium doloremque totam rem aperiam ipsa, quae illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explica
                   </blockquote>
                 </li>
               </ol>
               <h5>Фотогалерея</h5>
               <div class="company__grid">
                 <a href="#">
                    .company__hover
                       img(src="img/Search.svg", alt="alt")
                    img(src="img/company__foto.jpg", alt="alt")
                 </a>
                  <a href="#">
                    .company__hover
                       img(src="img/Search.svg", alt="alt")
                    img(src="img/company__foto.jpg", alt="alt")
                 </a>
                  <a href="#">
                    .company__hover
                       img(src="img/Search.svg", alt="alt")
                    img(src="img/company__foto.jpg", alt="alt")
                 </a>
                  <a href="#">
                    .company__hover
                       img(src="img/Search.svg", alt="alt")
                    img(src="img/company__foto.jpg", alt="alt")
                 </a>
                  <a href="#">
                    .company__hover
                       img(src="img/Search.svg", alt="alt")
                    img(src="img/company__foto.jpg", alt="alt")
                 </a>
                  <a href="#">
                    .company__hover
                       img(src="img/Search.svg", alt="alt")
                    img(src="img/company__foto.jpg", alt="alt")
                 </a>
               </div>
               <h5>Пример таблицы</h5>
               <div>
                 <table>
                  <tbody>
                     <tr>
                       <th>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</th>
                       <th>Стоимость</th>
                     </tr>
                     <tr>
                       <td>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                       <td>10 500 руб.</td>
                     </tr>
                     <tr>
                       <td>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                       <td>31 130 руб.</td>
                     </tr>
                     <tr>
                       <td>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                       <td>10 500 руб.</td>
                     </tr>
                     <tr>
                       <td>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                       <td>31 130 руб.</td>
                     </tr>
                     <tr>
                       <td>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                       <td>10 500 руб.</td>
                     </tr>
                     <tr>
                       <td>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                       <td>31 130 руб.</td>
                     </tr>
                  </tbody>
                 </table>
               </div>
             aside
              ul 
                <li><a href="#">О компании</a></li>
                <li><a href="#">Наши преимушества</a></li>
                <li><a href="#">Поставщикам</a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Наша команда</a></li>
              <div class="company__grid margin">
                <a href="#">
                  .company__hover
                      img(src="img/Search.svg", alt="alt")
                  img(src="img/company__foto1.jpg", alt="alt")
                </a>
                 <a href="#">
                  .company__hover
                      img(src="img/Search.svg", alt="alt")
                  img(src="img/company__foto1.jpg", alt="alt")
                </a>
                 <a href="#">
                  .company__hover
                      img(src="img/Search.svg", alt="alt")
                  img(src="img/company__foto1.jpg", alt="alt")
                </a>
              </div>
            

            




              