.container-fluid.contact
 .contact.title
   div.flex__end 
      aside         
         include ../includes/breadcrumbs.pug
         h1 Контакты
         .footer 
            .footer__news-position 
               .footer__box 
                  span Телефон:
                  a(href="tel:+88007377799") 
                     +icon('phone__footer', 'phone__footer fill1') 
                     | 8 800 737 77 99
                  p (круглосуточно)
               .footer__box 
                  span Адрес отеля:
                  strong
                     +icon('map__footer', 'phone__footer fill1') 
                     | ул. Ленинградская, 36
                  p (круглосуточно)
               .footer__box1 
                  span Мы в социальных сетях:
                  .footer__blog-icon.flex
                     a(href="#") 
                        +icon('vk__footer-middle', 'footer__svg-width1 fill1') 
                     a(href="#") 
                        +icon('instagram__footer-middle', 'footer__svg-width2 fill1')
                     a(href="#") 
                        +icon('classmates__footer-middle', 'footer__svg-width3 fill1')
               a(href="#").footer__btn 
                  | Забронировать номер
                  +icon('right__footer', 'right__footer fill')
      .contact__blog-map
        .contacts__map#contacts__map


        .hello