section.hero(data-aos="fade-in")
    .img__wrapper
        img(src="img/hero-bg.png" alt="")
    .container 
        .hero__items.swiper  
            .hero__wrapper.swiper-wrapper 
                .hero__item.swiper-slide
                    h1
                        span Закажите номер на сайте
                        strong и получите скидку 5%
                .hero__item.swiper-slide
                    h1 
                        span Закажите номер на сайте
                        strong и получите скидку 5%
                .hero__item.swiper-slide
                    h1 
                        span Закажите номер на сайте
                        strong и получите скидку 5%
            .hero__btn-prev.swiper-button-prev
            .hero__btn-next.swiper-button-next
        include ./booking.pug