section.hero(data-aos="fade-in")  
    .container 
        .hero__items.swiper  
            .hero__wrapper.swiper-wrapper 
                .hero__item.swiper-slide
                    h1 
                        span Закажите номер на сайте
                        strong и получите скидку 5%
                .hero__item.swiper-slide
                    h1 
                        span Закажите номер на сайте
                        strong и получите скидку 5%
                .hero__item.swiper-slide
                    h1 
                        span Закажите номер на сайте
                        strong и получите скидку 5%
            .hero__btn-prev.swiper-button-prev
            .hero__btn-next.swiper-button-next
        .hero__user 
            form(action="#") 
                label(for="") 
                    span Дата заезда:
                    input(type="date" name="")
                    strong 25 сентября 2021
                label(for="") 
                    span Дата выезда:
                    input(type="date" name="")
                    strong не выбрано
                label(for="") 
                    span Количество гостей:
                    input(type="date" name="")
                    strong не выбрано
                button 
                    +icon('search')
                    | Найти номер


