.contacts
    .container-width
        .contacts__map#contacts__map
    .container 
        .contacts__info 
            .contacts__info-items 
                .contacts__info-item.contacts__info-item--mod 
                    span Телефон:
                    +icon('phone')
                    p 
                        strong 8 800 737 77 99
                        | (круглосуточно)     
                .contacts__info-item 
                    span Адрес отеля:
                    +icon('map')
                    p 
                        strong ул. Ленинградская, 36
                        | (круглосуточно) 
                .contacts__info-item.contacts__info-item--socials 
                    span Мы в социальных сетях:
                    ul 
                        li 
                            a(href="#") 
                                +icon('vk__footer')
                        li 
                            a(href="#") 
                                +icon('instagram__footer')
                        li 
                            a(href="#") 
                                +icon('classmates__footer')
                a.contacts__info-link(href="#") 
                    | Забронировать номер
                    +icon('arrow-btn')

