section.news.title 
    .container 
        h2 Наши новости
        .news__items.swiper
            .news__inner.swiper-wrapper 
                article.news__item.swiper-slide
                    time(datetime="2021-09-23") 23 сентября 2021
                    h4 Hospitality Awards 2021 — еще больше возможностей для отелей России!
                    p 16 августа стартует 8 проектный цикл Всероссийской премии. Подать заявку на участие в проекте может любой отель
                    a(href="#") 
                        | Читать продолжение
                article.news__item.swiper-slide
                    time(datetime="2021-09-23") 23 сентября 2021
                    h4 Hospitality Awards 2021 — еще больше возможностей для отелей России!
                    p 16 августа стартует 8 проектный цикл Всероссийской премии. Подать заявку на участие в проекте может любой отель Подать заявку на участие в проекте может любой отель
                    a(href="#") 
                        | Читать продолжение
                article.news__item.swiper-slide
                    time(datetime="2021-09-23") 23 сентября 2021
                    h4 Hospitality Awards 2021 — еще больше возможностей для отелей России!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, eos.
                    a(href="#") 
                        | Читать продолжение
                article.news__item.swiper-slide
                    time(datetime="2021-09-23") 23 сентября 2021
                    h4 Hospitality Awards 2021 — еще больше возможностей для отелей России!
                    p 16 августа стартует 8 16 августа стартует 8
                    a(href="#") 
                        | Читать продолжение
                article.news__item.swiper-slide
                    time(datetime="2021-09-23") 23 сентября 2021
                    h4 Hospitality Awards 2021 — еще больше возможностей для отелей России!
                    p 16 августа стартует 8 проектный цикл Всероссийской премии. Подать заявку на участие в проекте может любой отель
                    a(href="#") 
                        | Читать продолжение
        .news-pag
            .news-pagination.swiper-pagination
            .news-btn.news-btn__prev.swiper-button-prev
            .news-btn.news-btn__next.swiper-button-next
            
