section.rest.title 
    .container 
        .rest__inner
            .rest__box
                .rest__info(data-aos="fade-right" data-aos-duration="1000")
                    h2 
                        span Порадуйте себя и своих близких!
                        | Отдых и развлечения 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    a(href="#") 
                        | Забронировать номер
                        +icon('arrow-btn', 'arrow-def')
                img(src="img/rest-img.jpg", alt="")
                
            ul.rest__list 
                li(data-aos="flip-left" data-aos-duration="1000") 
                    a(href="#") 
                        img(src="img/rest-1.jpg", alt="")
                        h4 Ресторан
                li(data-aos="flip-left" data-aos-duration="1000") 
                    a(href="#") 
                        img(src="img/rest-2.jpg", alt="")
                        h4 SPA-центр
                li(data-aos="flip-left" data-aos-duration="1000")  
                    a(href="#") 
                        img(src="img/rest-3.jpg", alt="")
                        h4 Достопримеча-тельности