.room.title
   .container.room 
      <div class="room__swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               img(src="img/room__slider.jpg" alt="alt")
               div.flex 
                  h1 Номер «ЛЮКС»
                  div.flex__column 
                     span люкс аппартамент
                     strong 5 500 Р
                  div.flex__column 
                     span люкс
                     strong 6 500 Р
                  a(href="#").button.flex__center-row
                     |Забронировать
                     +icon('right__footer', 'right__footer fill')
            </div>
         </div>   
         .room__swiper-button-prev
            +icon('room__svg-prev', 'room__svg-width')
         .room__swiper-button-next
            +icon('room__svg-next', 'room__svg-width')
      </div>
   .container 
      div.flex__spaceBetween 
         div.margin
            h2 О номере
            p Просторные, светлые номера с балконом*. Гостиная, ванная комната, спальня. Номер оснащен всеми современными удобствами: большой комфортной кроватью, мягким уголком  кабельным телевидением, сейфом, холодильником. Номер удачно подойдет, как для работы, так и  для проведения различных мероприятий - романтическое свидание или проведение переговоров. В Вашем распоряжении: зона отдыха, гостиная, джакузи, душ. Панорамный вид на центральную улицу города Читы*.
            table
               tr.flex 
                  td Площадь номера:
                  th до 65 м2
               tr.flex
                  td Спальное место:
                  th двуспальная кровать King Size, диван
               tr.flex
                  td Ванная комната:
                  th душ, бидэ, джакузи или ванна
         div
            h2 В номере
            div.grid
               div.room__items.flex__center-column 
                  +icon('room__tele', 'room__svg-width1 fill__green')
                  span Кабельное TV
               div.room__items.flex__center-column 
                  +icon('room__wi-fi', 'room__svg-width1 fill__green')
                  span Wi-Fi
               div.room__items.flex__center-column 
                  +icon('room__cofe', 'room__svg-width1 fill__green')
                  span Чай, кофе, сахар, минеральная вода
               div.room__items.flex__center-column 
                  +icon('room__utug', 'room__svg-width1 fill__green')
                  span Утюг и гладильная доска (по запросу)
               div.room__items.flex__center-column 
                  +icon('room__fridge', 'room__svg-width1 fill__green')
                  span Холодильник
               div.room__items.flex__center-column 
                  +icon('room__kyxny', 'room__svg-width1 fill__green')
                  span Кухонные принадлежности
               div.room__items.flex__center-column 
                  +icon('room__fen', 'room__svg-width1 fill__green')
                  span Фен
               div.room__items.flex__center-column 
                  +icon('room__tapok', 'room__svg-width1 fill__green')
                  span Халат, тапочки
               div.room__items.flex__center-column 
                  +icon('room__tualet', 'room__svg-width1 fill__green')
                  span Туалетные принадлежности
      div.flex__center-justify.margin1
         a(href="#").room__btn.button.flex__center-row
            | Забронировать номер
            +icon('right__footer', 'right__footer')
      h2.border Другие номера
      div.grid1.margin1
         .room__blog
            img(src="img/room__items.jpg" alt="alt")
            .room__box-position
              .room__border-top.flex__startSpaceBetween
                 div.margin 
                   strong Л ю к с
                   span 5 700 ₽/ночь
                 a(href="#").button1.flex__center-row Забронировать
         .room__blog
            img(src="img/room__items.jpg" alt="alt")
            .room__box-position
              .room__border-top.flex__startSpaceBetween
                 div.margin
                   strong О д н о м е с т н ы й
                   span 5 700 ₽/ночь
                 a(href="#").button1.flex__center-row Забронировать
         .room__blog
            img(src="img/room__items2.jpg" alt="alt")
            .room__box-position
              .room__border-top.flex__startSpaceBetween
                 div.margin 
                   strong С е м е й н ы й
                   span 5 700 ₽/ночь
                 a(href="#").button1.flex__center-row Забронировать



