section.rooms.title
    .container 
        h2 
            span Добро пожаловать! 
            | Наши номера
        .rooms__items
            .rooms__item(data-aos="fade-right" data-aos-duration="1000") 
                img(src="img/rooms-item-1.jpg", alt="")
                img(src="img/rooms-item-1.jpg", alt="")
                img(src="img/rooms-item-1.jpg", alt="")
                .rooms__item-info 
                    a.rooms__item-link(href="#") Люкс
                        span от 5 700 ₽
                    a.rooms__item-reserve(href="#") 
                        | Забронировать
                        +icon('arrow-btn')
            .rooms__item(data-aos="fade-left" data-aos-duration="1000") 
                img(src="img/rooms-item-2.jpg", alt="")
                img(src="img/rooms-item-2.jpg", alt="")
                img(src="img/rooms-item-2.jpg", alt="")
                .rooms__item-info 
                    a.rooms__item-link(href="#") Одноместные
                        span от 5 700 ₽
                    a.rooms__item-reserve(href="#") 
                        | Забронировать
                        +icon('arrow-btn')
            .rooms__item(data-aos="fade-right" data-aos-duration="1000") 
                img(src="img/rooms-item-3.jpg", alt="")
                img(src="img/rooms-item-3.jpg", alt="")
                img(src="img/rooms-item-3.jpg", alt="")
                .rooms__item-info 
                    a.rooms__item-link(href="#")  Двухместные
                        span от 5 700 ₽
                    a.rooms__item-reserve(href="#") 
                        | Забронировать
                        +icon('arrow-btn')
            .rooms__item(data-aos="fade-left" data-aos-duration="1000") 
                img(src="img/rooms-item-4.jpg", alt="")
                img(src="img/rooms-item-4.jpg", alt="")
                img(src="img/rooms-item-4.jpg", alt="")
                .rooms__item-info 
                    a.rooms__item-link(href="#")  Семейные
                        span от 5 700 ₽
                    a.rooms__item-reserve(href="#") 
                        | Забронировать
                        +icon('arrow-btn')