section.trust.title 
    .container 
        h2 Нам доверяют
        .trust__items.swiper 
            .trust__inner.swiper-wrapper 
                .trust__item.swiper-slide 
                    img(src="img/trust/item-1.png", alt="")
                .trust__item.swiper-slide
                    img(src="img/trust/item-2.png", alt="")
                .trust__item.swiper-slide
                    img(src="img/trust/item-3.png", alt="")
                .trust__item.swiper-slide
                    img(src="img/trust/item-4.png", alt="")
                .trust__item.swiper-slide
                    img(src="img/trust/item-5.png", alt="")
        .trust__pag 
            .trust__btn-prev
                +icon('slider-prev')
            .trust__pagination 
            .trust__btn-next 
                +icon('slider-next')
                
                
                