include ../includes/main-footer.pug

include ./footer-modals.pug
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="libs/swiper-bundle.min.js")
script(src="libs/ellipsis.min.js") 
script(src="libs/aos.js") 
script(src="js/main.js") 

