<<<<<<< HEAD

//- footer.footer
//-     .footer__news-position.flex__centerSpaceBetween  
//-         .footer__box 
//-             span Телефон:
//-             a(href="tel:+88007377799") 
//-                 +icon('phone__footer', 'phone__footer fill1') 
//-                 | 8 800 737 77 99
//-             p (круглосуточно)
//-         .footer__box 
//-             span Адрес отеля:
//-             strong
//-                 +icon('map__footer', 'phone__footer fill1') 
//-                 | ул. Ленинградская, 36
//-             p (круглосуточно)
//-         .footer__box1 
//-             span Мы в социальных сетях:
//-             .footer__blog-icon.flex
//-                 a(href="#") 
//-                     +icon('vk__footer-middle', 'footer__svg-width1 fill1') 
//-                 a(href="#") 
//-                     +icon('instagram__footer-middle', 'footer__svg-width2 fill1')
//-                 a(href="#") 
//-                     +icon('classmates__footer-middle', 'footer__svg-width3 fill1')
//-         a(href="#").footer__btn 
//-             | Забронировать номер
//-             +icon('right__footer', 'right__footer fill') 
//-     .container                     
//-         .footer__flex 
//-             .footer__items1 
//-                 a(href="/")  
//-                     img(src="img/logo__footer.svg" alt="alt") 
//-                 blockquote Уют и комфорт — вот главный наш девиз!    
//-             .footer__items.flex 
//-                 ul  
//-                     li 
//-                         h6 Меню 
//-                     li
//-                         a(href="#")  Номера
//-                     li
//-                         a(href="#") Ресторан
//-                     li
//-                         a(href="#") Акватория
//-                     li
//-                         a(href="#") О гостинице
//-                 ul  
//-                     li
//-                         a(href="#")  Для бизнеса
//-                     li
//-                         a(href="#") Отзывы
//-                     li
//-                         a(href="#") Контакты
//-             .footer__items2 
//-                 .footer__items-flex 
//-                     .footer__box 
//-                         span Телефон:
//-                         a(href="tel:+88007377799") 
//-                             +icon('phone__footer', 'phone__footer fill') 
//-                             | 8 800 737 77 99
//-                         p (круглосуточно)
//-                     .footer__box 
//-                         span Адрес отеля:
//-                         strong
//-                             +icon('map__footer', 'phone__footer fill') 
//-                             | ул. Ленинградская, 36
//-                         p (круглосуточно)
//-                 a(href="#").footer__btn 
//-                     | Забронировать номер
//-                     +icon('right__footer', 'right__footer fill') 
//-         .footer__flex-bottom 
//-             p © 2021 «ZABAIKALIE». Все права защищены.
//-             .footer__blog1
//-                 | Мы в социальных сетях:
//-                 a(href="#") 
//-                     +icon('vk__footer', 'footer__svg-width fill') 
//-                 a(href="#") 
//-                     +icon('instagram__footer', 'footer__svg-width fill') 
//-                 a(href="#") 
//-                     +icon('classmates__footer', 'footer__svg-width fill') 
//-             .footer__blog2.flex 
//-                 p.flex Разработка сайта —
//-                 a(href="#").flex 
//-                     +icon('forest__footer', 'forest__footer fill') 




script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="libs/swiper-bundle.min.js")
script(src="libs/jquery.min.js") 
script(src="libs/datepicker.min.js")
script(src="libs/datepicker.en.js")
include ./footer-modals.pug
include ../includes/main-footer.pug
include ./modal.pug
script(src="libs/ellipsis.min.js") 
script(src="libs/air-datepicker.js") 
script(src="libs/jquery.nice-select.min.js") 
script(src="libs/aos.js") 
script(src="libs/jquery.mCustomScrollbar.concat.min.js") 
script(src="js/main.js") 

