//------------- META -----------------

//------------- FAVICON -----------------

//------------- STYLES -----------------
link(rel="stylesheet", href="libs/swiper-bundle.min.css")
link(rel="stylesheet" type="text/css" href="libs/datepicker.min.css")
link(rel="stylesheet", href="css/main.css")


