//------------- META -----------------

//------------- FAVICON -----------------

//------------- STYLES -----------------
link(rel="stylesheet", href="libs/swiper-bundle.min.css")
link(rel="stylesheet" type="text/css" href="libs/cssworld.ru-xcal.css")
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
link(rel="stylesheet", href="css/main.css")


