.popup.js__popup-open(data-popup="#popup")
   .popup__body
      .popup__content.js__popup-content#date8
         span.popup__close
            img(src="img/icons/popup__close.svg" alt="alt") 
         <p>Date: <input type="text" id="datepicker"></p>
         <p>Date: <input type="text" id="datepicker1"></p>



