
ul.navrooms-hover 
  li 
    p Люкс
      span  ОТ 5 700 ₽
    a(href="#") Подробнее
  li 
    p Одноместные
      span  ОТ 5 700 ₽
    a(href="#") Подробнее
  li 
    p Двухместные
      span  ОТ 5 700 ₽
    a(href="#") Подробнее
  li 
    p Семейные
      span  ОТ 5 700 ₽
    a(href="#") Подробнее
