extends ../layout/layout.pug
block vars
	- var title = 'Контакт';
block header
	include ../includes/header.pug
block content
	include ../modules/contact.pug
block footer
	include ../includes/footer.pug