extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block header
	include ../includes/header.pug
block content
	include ../modules/hero.pug
	include ../modules/rooms.pug
	include ../modules/rest.pug
	include ../modules/business.pug
	include ../modules/about.pug
	include ../modules/news.pug
block footer
	include ../includes/footer.pug