extends ../layout/layout.pug
block vars
	- var title = 'Номер';
block header
	include ../includes/header.pug
block content
	include ../modules/text-page.pug
block footer
	include ../includes/footer.pug