.news
    margin-bottom: 180px
    padding-bottom: 78px
    position: relative
    &__items
        width: 100%
        height: 369px
        overflow-x: hidden
        overflow-y: auto

    &__item
        padding: 40px 50px
        background-color: #EEF2F2
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        time
            font-family: $inter
            font-weight: 400
            font-size: 12px
            color: #087868
            margin: 0
            padding: 0
            margin-bottom: 5px
        h4
            font-family: $dejavu
            font-size: 22px
            line-height: 30px
            margin-bottom: 17px
        p
            font-family: $inter
            font-weight: 300
            font-size: 16px
            line-height: 24px
            color: #8F8F8F
            padding-bottom: 25px
            margin-bottom: 30px
            border-bottom: 1px solid #DFE6E6
        a
            font-family: $inter
            font-size: 12px
            line-height: 15px
            color: #087868
            position: relative
            padding-right: 20px
            transition: .3s
            &::after
                content: ''
                position: absolute
                width: 14px
                height: 14px
                border-radius: 100%
                background-color: #087868
                right: 0
                top: 1px
                background-image: url('../img/arrow-light.svg')
                background-repeat: no-repeat
                background-position: center
                transition: .3s
            &:hover
                color: #1AA894
                &::after
                    background-color: #1AA894
    &-pag
        position: relative
        top: 80px
        max-width: 337px
        margin: 0 auto

    &-btn
        top: -19px

.news-btn
    width: 47px

.news-btn__prev
    background-image: url('../img/slider-prev.svg')
    background-repeat: no-repeat
    background-position: center
    &::after
        content: ''

.news-btn__next
    background-image: url('../img/slider-next.svg')
    background-repeat: no-repeat
    background-position: center
    &::after
        content: ''

.news .news-pagination
    display: flex
    gap: 30px
    left: 50%
    transform: translateX(-50%)
    width: auto
    span
        width: 2px
        height: 18px
        border-radius: 0
        margin: 0 15px
        &:hover
            background-color: #1AA894
    span.swiper-pagination-bullet.swiper-pagination-bullet-active
        background-color: #2E2E2E
