.room 
   margin-bottom: 300px
   &__swiper-container
      overflow: hidden
      margin-bottom: 149px
      position: relative
      .swiper-slide > div
            position: absolute
            bottom: 45px
            padding: 0px 35px
      .swiper-slide div > div
            width: 328px
            min-height: 90px
            padding: 0px 45px
            border-left: 1px solid #ffffff1f
            flex: 0 0 auto
      .swiper-slide     
            font-family: $dejavu
            span
               font-weight: bold
               font-size: 14px
               line-height: 16px
               letter-spacing: 0.1em
               text-transform: uppercase
               color: #FFFFFF
               margin-bottom: 3px
            strong
               font-weight: bold
               font-size: 48px
               line-height: 56px
               letter-spacing: 0.1em
               text-transform: uppercase
               color: #FFFFFF
            a
               width: 270px
               flex: 0 0 auto
   &__swiper-button-prev,
   &__swiper-button-next
      position: absolute
      top: 50%
      transform: translate(0%, -50%)
      z-index: 20
      cursor: pointer
   &__swiper-button-prev
      left: 90px
   &__swiper-button-next
      right: 90px
   h1 
      color: #fff
      margin-right: 45px
   table
      width: 100%
   h2
      padding-bottom: 21px
      margin-bottom: 43px
      position: relative
      &:before
         content: ''
         width: 170px
         height: 2px
         position: absolute
         bottom: 0
         left: 0px
         background-color: #F1F1F1
      &:after
         content: ''
         width: 50px
         height: 2px
         position: absolute
         bottom: 0
         left: 0px
         z-index: 20
         background-color: #2E2E2E
   h2.border
      text-align: center
      &:before
         content: ''
         width: 170px
         height: 2px
         position: absolute
         bottom: 0
         left: 50%
         transform: translate(-50%, 0%)
         background-color: #F1F1F1
      &:after
         content: ''
         width: 50px
         height: 2px
         position: absolute
         bottom: 0
         left: 50%
         transform: translate(-50%, 0%)
         z-index: 20
         background-color: #2E2E2E
   p
      font-weight: 300
      font-size: 16px
      line-height: 27px
      color: #2E2E2E
      max-width: 650px
      margin-bottom: 42px
   tr
      min-height: 70px
      padding: 10px 0px
      border-bottom: 1px solid #2e2e2e21
      font-size: 18px
      line-height: 40px
      color: #2E2E2E
      &:first-child
         border-top: 1px solid #2e2e2e21
   td
      font-weight: 300
      width: 158px
      flex: 0 0 auto
      margin-right: 34px
   th
      font-weight: 500
   &__items
      min-height: 150px 
      padding: 20px
      background: #FFFFFF
      border: 1px solid #F7F7F7
      svg
         margin-bottom: 11px
      span 
         font-weight: 500
         font-size: 14px
         line-height: 22px
         color: #2E2E2E
         text-align: center
   &__btn
      margin-top: 67px
      width: 300px
   &__blog
      position: relative
   &__box-position
      position: absolute
      bottom: 35px
      left: 0px   
      width: 100%
      padding: 0px 30px 0px 30px
   &__border-top
      border-top: 1px solid #ffffff2e
      padding-top: 35px
      div
         width: 206px

      strong
         display: block
         font-weight: bold
         font-size: 28px
         color: #FFFFFF
         font-family: $dejavu
         letter-spacing: -5px
         line-height: 30px
      span
         font-weight: bold
         font-size: 14px
         line-height: 17px
         letter-spacing: 0.1em
         color: #EFB969
      a 
         width: 170px
         flex: 0 0 auto
      


 

         



.container.room
   margin-bottom: 0px
   max-width: 1630px